h1{
    color: rgb(11, 11, 15);
}
*{
    border-width: 5cm  ;
    
}
p,h2{
text-align: center;

}
.header{
    background-color:#e5e912;
display: flex;
justify-content: space-between;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer{
    display: flex;
    justify-content: flex-end;

}
body{
    background-color: #bcf1ea;
}